// mat-radio-button{
//   margin: 0px 10px -10px 0px;
// }
.flex-container{
display: flex;
justify-content: space-around;
}
.wrongAns{
padding: 10px 10px 10px 10px;
}
.correctAns{
background-color: #0ebb23;
color: #fff;
padding: 10px 20px 10px 20px;
}