<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- preloader area start -->
<!-- <div id="preloader">
        <div class="loader"></div>
    </div> -->
<!-- preloader area end -->
<!-- error area start -->
<div class="error-area ptb--100 text-center d-flex align-items-center">
	<div class="container">


		<h2 class="home-title">Quiz Blocks</h2>
		<div class="d-flex justify-content-around flex-wrap">
			<a class="home-box ripplelink" [routerLink]="['/Login']" [state]="{user: 0}">
				<img src="assets/images/icon-university.png" />
				<span>UNIVERSITY</span>
			</a>
			<a class="home-box ripplelink" [routerLink]="['/Login']" [state]="{user: 1}">
				<img src="assets/images/icon-professor.png" />
				<span>PROFESSOR</span>
			</a>
			<a class="home-box ripplelink" [routerLink]="['/Login']" [state]="{user: 2}">
				<img src="assets/images/icon-student.png" />
				<span>STUDENTS</span>
			</a>
		</div>

	</div>
</div>
<!-- <script>
$(window).load(function() {
   $('.preloader').fadeOut('slow');
});
</script> -->